NET "a" LOC = P51 | IOSTANDARD = LVTTL;
NET "b" LOC = P41 | IOSTANDARD = LVTTL;
NET "c" LOC = P35 | IOSTANDARD = LVTTL;
NET "sum" LOC = P127 | IOSTANDARD = LVTTL;
NET "carry" LOC = P124 | IOSTANDARD = LVTTL;