//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 25 19:15:48 2017
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "spi_sck" LOCATE = SITE "P43" LEVEL 1;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "avr_rx_busy" LOCATE = SITE "P39" LEVEL 1;
COMP "carry" LOCATE = SITE "P124" LEVEL 1;
COMP "spi_mosi" LOCATE = SITE "P44" LEVEL 1;
COMP "spi_ss" LOCATE = SITE "P48" LEVEL 1;
COMP "avr_tx" LOCATE = SITE "P55" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
COMP "sum" LOCATE = SITE "P127" LEVEL 1;
COMP "cclk" LOCATE = SITE "P70" LEVEL 1;
COMP "a" LOCATE = SITE "P51" LEVEL 1;
COMP "b" LOCATE = SITE "P41" LEVEL 1;
COMP "c" LOCATE = SITE "P35" LEVEL 1;
TIMEGRP clk = BEL "M_state_q_FSM_FFd1" BEL "M_state_q_FSM_FFd3" BEL
        "M_state_q_FSM_FFd2" BEL "M_counter_q_0" BEL "M_counter_q_1" BEL
        "M_counter_q_2" BEL "M_counter_q_3" BEL "M_counter_q_4" BEL
        "M_counter_q_5" BEL "M_counter_q_6" BEL "M_counter_q_7" BEL
        "M_counter_q_8" BEL "M_counter_q_9" BEL "M_counter_q_10" BEL
        "M_counter_q_11" BEL "M_counter_q_12" BEL "M_counter_q_13" BEL
        "M_counter_q_14" BEL "M_counter_q_15" BEL "M_counter_q_16" BEL
        "M_counter_q_17" BEL "M_counter_q_18" BEL "M_counter_q_19" BEL
        "M_counter_q_20" BEL "M_counter_q_21" BEL "M_counter_q_22" BEL
        "M_counter_q_23" BEL "M_counter_q_24" BEL "M_counter_q_25" BEL
        "reset_cond/M_stage_q_3" BEL "reset_cond/M_stage_q_2" BEL
        "reset_cond/M_stage_q_1" BEL "reset_cond/M_stage_q_0" BEL
        "reset_cond/M_stage_q_3_1" BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

